<ng-include src="'./views/menu.html'"></ng-include>
<div class="container">
    <div class="row">
    
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">List of tickets raised</h3>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th>View</th>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr>
                            <td align="center">
                              <a class="btn btn-default" ng-href="#/view-case">
                                <em class="fa fa-eye"></em></a>
                            </td>
                            <td>My Subject</td>
                            <td>30/07/2017</td>
                            <td>Open</td>

                          </tr>
                        <tr>
                            <td align="center">
                              <a class="btn btn-default" ng-href="#/view-case">
                                <em class="fa fa-eye"></em></a>
                            </td>
                            <td>My Subject</td>
                            <td>30/07/2017</td>
                            <td>Open</td>

                          </tr>
                        <tr>
                            <td align="center">
                              <a class="btn btn-default" ng-href="#/view-case">
                                <em class="fa fa-eye"></em></a>
                            </td>
                            <td>My Subject</td>
                            <td>30/07/2017</td>
                            <td>Open</td>

                          </tr>
                        </tbody>
                </table>
            
              </div>
            </div>

</div></div></div>