<ng-include src="'./views/menu.html'"></ng-include>

<section>
	<div class="section-content">
		<h1 class="section-header">Raise your ticket</span>
		</h1>
		<p>Please provide detailed information which will help us resolve the issue as soon as possible
		</p>
	</div>
	<div class="contact-section">
		<div class="container">
			<form name="ticketForm" ng-submit="raiseTicketPage.raiseTicket()">
				<div class="col-md-6 form-line">
					<div class="form-group">
						<label for="exampleInputUsername">Your name</label>
						<input type="text" class="form-control" ng-model="raiseTicketPage.userName" id="userName" name="userName" placeholder=" Enter Name"
						 required>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail">Email Address</label>
						<input type="email" class="form-control" ng-pattern="raiseTicketPage.emailFormat" ng-model="raiseTicketPage.email" id="email" placeholder=" Enter Email id" name="email"
						 required>
					</div>
					<div class="form-group">
						<label for="telephone">Mobile No.</label>
						<input type="tel" class="form-control" ng-pattern="raiseTicketPage.mobileFormat" id="mobileNumber" ng-model="raiseTicketPage.mobileNumber" name="mobileNumber" placeholder=" Enter 10-digit mobile no."
						 required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="description"> Subject</label>
						<input type="text" class="form-control" ng-model="raiseTicketPage.querySubject" id="querySubject" name="querySubject" placeholder=" Enter Subject"
						 required>
					</div>
					<div class="form-group">
						<label for="description"> Message</label>
						<textarea class="form-control" id="queryContent" ng-model="raiseTicketPage.queryContent" name="queryContent" placeholder="Enter Your Message"
						 required></textarea>
					</div>
					<div class="form-group">
						<div class="progress" ng-show="raiseTicketPage.uploading">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
							 style="width: 45%">
								<span class="sr-only">45% Complete</span>
							</div>
						</div>
						<label class="btn btn-primary"> File upload
					<input type="file" file-model="raiseTicketPage.file.upload" name="myFile" ng-disabled="raiseTicketPage.Uploading" style="display: none">
					</label>
				<span ng-if="raiseTicketPage.file.upload.name">Selected file name: {{raiseTicketPage.file.upload.name}} 
				
				<button class="glyphicon glyphicon-remove" ng-click="raiseTicketPage.removeFile()"></button>
					
				</span>
					</div>
					 <p ng-show="ticketForm.email.$invalid && !ticketForm.email.$pristine" class="error">Enter a valid email</p>
                            <p ng-show="ticketForm.mobileNumber.$invalid && !ticketForm.mobileNumber.$pristine" class="error">Enter a valid Mobile Number</p>
					<div class="alert alert-danger" ng-show="raiseTicketPage.response.data.error">
                                {{raiseTicketPage.response.data.message}}
                    </div>		
					<div>
						<input type="submit" name="login-submit" ng-disabled="ticketForm.$invalid" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Submit">
					</div>

				</div>
			</form>
			<!-- code has to be moved up -->
			<!--
			<div class="form-group">
				<div class="progress" ng-show="raiseTicketPage.uploading">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
					 style="width: 45%">
						<span class="sr-only">45% Complete</span>
					</div>
				</div>
				
				<form ng-submit="raiseTicketPage.submitFile()">
					<label class="btn btn-primary"> File upload
					<input type="file" file-model="raiseTicketPage.file.upload" name="myFile" ng-disabled="raiseTicketPage.Uploading" style="display: none">
					</label>
					
					<button class="btn btn-danger" ng-disabled="raiseTicketPage.uploading">Upload</button>
				
				</form>	
			</div>
			-->
			<!-- Ends Here -->
		</div>
</section>