<ng-include src="'./views/menu.html'"></ng-include>
<div class="row">
    <div class="col">
        <h3>Subject comese here</h3>
        <p>Description comes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum venenatis quam
            nec eleifend. Pellentesque quis nisl ac quam suscipit interdum. Nullam aliquam suscipit fermentum. Curabitur
            sapien justo, ultricies vel rutrum quis, sagittis sit amet augue. Nunc nec ullamcorper leo. </p>
        <span>Status</span>
        <div class="pull-right">
            <button type="button" class="btn btn-primary">Close ticket</button>
        </div>
    </div>

</div>
<br><br>
<div class="row clear-fi">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                <h5>Admin</h5>
                <p>We have assigned our service team to fix this issue</p>
            </li>
            <li class="list-group-item">
                <h5>User</h5>
                <p>Thank you</p>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="comment">Add Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <div class="clearfix"></div>
            <div class="pull-right" style="margin-top:5px;">
                <button type="button" class="btn btn-default">Post Comment</button>
            </div>

        </div>
    </div>
    <div class="col-md-6"></div>
</div>