<ng-include src="'./views/menu.html'"></ng-include>
<div class="row">
    <div class="alert alert-danger" ng-show="!viewCasePage.response">
        Oops Something went wrong
    </div>
    <div class="col">
        <h3>{{viewCasePage.response.querySubject}}</h3>
        <p>{{viewCasePage.response.queryContent}}</p>
       <b>Status: </b> <span>{{viewCasePage.response.ticketStatus}}</span>
        <div class="pull-right">
            <button type="button" ng-click="viewCasePage.updateStatus()"
             class="btn btn-primary">{{viewCasePage.buttonText}}</button>
        </div>
    </div>

</div>
<br><br>
<div class="row clear-fi">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="res in viewCasePage.response.comment">
                <h5>{{res.userName}}</h5>
                <p>{{res.queryText}}</p>
                <p class="">{{res.createdAt | date}}</p>
            </li>
            
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <form name="commentForm" ng-submit="viewCasePage.addComment()">
        <div class="form-group">
            <label for="comment">Add Comment:</label>
            <textarea class="form-control"
            ng-model="viewCasePage.comment" name="comment" rows="5" id="comment" required></textarea>
            <div class="clearfix"></div>
            <div class="pull-right" style="margin-top:5px;">
                <input type="submit" name="login-submit" ng-disabled="commentForm.$invalid" id="login-submit" 
                tabindex="4" class="btn btn-default submit" value="Post Comment">
            </div>

        </div>
        </form>
    </div>
    <div class="col-md-6"></div>
</div>